


<ul class="faq-list">
    <li>
      <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
        ¿Dónde podemos contactarte?
        <i class="bi bi-chevron-down icon-show"></i>
        <i class="bi bi-chevron-up icon-close"></i>
      </div>
      <div id="faq1" class="collapse" data-bs-parent=".faq-list">
        <p>
          Podemos estar en contacto a través de redes sociales: <a
            href="https://vm.tiktok.com/ZML7yvA1C"
            target="_blank"
            class="tiktok">TikTok,</a
          >
          <a
            href="https://www.instagram.com/charlycamposoficial/"
            target="_blank"
            class="instagram">IG</a
          >, <a
            href="https://mobile.twitter.com/charlycamposj"
            target="_blank"
            class="twitter">Twitter</a
          > y <a
            href="https://www.facebook.com/CharlyCamposOficial/"
            target="_blank"
            class="facebook">FB</a
          >.
        </p>
      </div>
    </li>

    <li>
      <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
        ¿Qué es un Biotest?
        <i class="bi bi-chevron-down icon-show"></i>
        <i class="bi bi-chevron-up icon-close"></i>
      </div>
      <div id="faq2" class="collapse" data-bs-parent=".faq-list">
        <p>
          Es realizar de manera presencial a tu cuerpo una serie de estudios y
          evaluaciones que te dicen como está y en que estado se encuentra.
        </p>
      </div>
    </li>

    <li>
      <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
        ¿Para qué sirve el Biotest?
        <i class="bi bi-chevron-down icon-show"></i>
        <i class="bi bi-chevron-up icon-close"></i>
      </div>
      <div id="faq3" class="collapse" data-bs-parent=".faq-list">
        <p>
          Para conocer el estado actual de tu cuerpo, las condiciones en las
          que se encuentra y mediante el tu objetivo personal llevar a cabo un
          plan de alimentación y un programa de entrenamiento físico.
        </p>
      </div>
    </li>

    <li>
      <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
        ¿Cómo perder peso?
        <i class="bi bi-chevron-down icon-show"></i>
        <i class="bi bi-chevron-up icon-close"></i>
      </div>
      <div id="faq4" class="collapse" data-bs-parent=".faq-list">
        <p>Podemos considerar lo siguiente:</p>
        <ul class="faq-details-list">
          <li>Reduce la ingesta de azúcares y almidones (carbohidratos)</li>
          <li>Consume proteínas, grasas y verduras</li>
          <li>Levanta pesas 3 veces por semana</li>
          <li>
            Hacer ejercicios cardiovasculares como caminar, trotar, correr,
            montar en bicicleta o nadar.
          </li>
        </ul>
        <p>¡Acercate para recibir tu plan personalizado!</p>
      </div>
    </li>

    <li>
      <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
        ¿Por qué es importante tener una buena alimentación?
        <i class="bi bi-chevron-down icon-show"></i>
        <i class="bi bi-chevron-up icon-close"></i>
      </div>
      <div id="faq5" class="collapse" data-bs-parent=".faq-list">
        <p>
          Nos ayuda a aportar todos los nutrientes escenciales como proteínas,
          hidratos de carbono, lípidos, vitaminas, minerales y agua. Una buena
          alimentación previene enfermedades como la obesidad, hipertensión,
          enfermedades cardiovasculares, osteoporosis, diabetes (tipo 2) y
          algunos tipos de cáncer.
        </p>
      </div>
    </li>

    <li>
      <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
        ¿Cómo sé que me estoy alimentando correctamente?
        <i class="bi bi-chevron-down icon-show"></i>
        <i class="bi bi-chevron-up icon-close"></i>
      </div>
      <div id="faq6" class="collapse" data-bs-parent=".faq-list">
        <p>
          La base de una alimentación saludable es consumir en forma
          equilibrada todos los alimentos disponibles. ¡Acercate para recibir
          tu plan personalizado!.
        </p>
      </div>
    </li>

    <li>
      <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">
        ¿Es necesaria la suplementación?
        <i class="bi bi-chevron-down icon-show"></i>
        <i class="bi bi-chevron-up icon-close"></i>
      </div>
      <div id="faq7" class="collapse" data-bs-parent=".faq-list">
        <p>
          Los alimentos que ingerimos en la actualidad están sometidos a
          numerosos procesos que afectan a su valor nutricional. Por tanto, la
          suplementación nutricional es clave para incorporar a nuestro
          organismo aquellos nutrientes que ya no contiene nuestra dieta.
        </p>
      </div>
    </li>

    <li>
      <div data-bs-toggle="collapse" href="#faq8" class="collapsed question">
        ¿Es peligrosa la suplementación?
        <i class="bi bi-chevron-down icon-show"></i>
        <i class="bi bi-chevron-up icon-close"></i>
      </div>
      <div id="faq8" class="collapse" data-bs-parent=".faq-list">
        <p>
          Los suplementos que se venden en negocios de productos de nutrición
          son seguros siempre y cuando se sigan las instrucciones de los
          fabricantes. Si los consumes en cantidades mayores a los niveles
          recomendados sí puede haber consecuencias.
        </p>
        <p>¡Nuestros planes llevan asesoría en suplementación!</p>
      </div>
    </li>

    <li>
      <div data-bs-toggle="collapse" href="#faq9" class="collapsed question">
        ¿Qué beneficios tiene ejercitarme?
        <i class="bi bi-chevron-down icon-show"></i>
        <i class="bi bi-chevron-up icon-close"></i>
      </div>
      <div id="faq9" class="collapse" data-bs-parent=".faq-list">
        <p>Podemos comentar los siguientes:</p>
        <ul class="faq-details-list">
          <li>Evitaras la acumulación de grasa corporal</li>
          <li>Mejora el funcionamiento de organos vitales</li>
          <li>Te hará sentir mejor</li>
          <li>Es una solución efectiva para calmar la ansiedad</li>
          <li>Te ayuda a sentirte con más energía</li>
          <li>Ayuda a mejorar tu figura</li>
          <li>Ayuda a combatir el estrés</li>
          <li>Mejorará tu fuerza de voluntad y disiplina</li>
          <li>Entrenar con tus amigos es divertido</li>
        </ul>
      </div>
    </li>
  </ul>