<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
      <h3>Somos <strong>#CharlyTeam</strong></h3>
      <h1>Conoce tu potencial y llega a lo más alto</h1>
      <h2>
        Acondicionamiento físico, Nutrición Deportiva y Estética Corporal
      </h2>
      <a href="#services" class="btn-get-started scrollto"
        >Nuestros servicios</a
      >
    </div>
  </section><!-- End Hero -->
