---
interface Props {
    title: string
    onBlue: string | null
    subtitle: string
    paragraph: string | null
}

const {title, onBlue, subtitle, paragraph} = Astro.props;
---

<div class="section-title">
    <h2>
        {title}
    </h2>
    <h3>{subtitle}
    {onBlue && (
        <span>{onBlue}</span>
    )}</h3>
    {paragraph && (
        <p>{paragraph}</p>
    )}
</div>
